<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactez nous</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Avez-vous une question? N'hésitez pas à nous contacter directement</p>

    <div class="text-center my-4">
            <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map-marker fa-2x"></i>
                    <p>Plombières-les-Bains, 88370, FRANCE</p>
                </li>

                <li><i class="fa fa-phone mt-4 fa-2x"></i>
                    <p>01 23 45 67 89</p>
                </li>

                <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                    <p>contact@plombieres-jeune-rand.fr</p>
                </li>
            </ul>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->