<div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h2>Panier</h2>
    </div>
  
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Offres selectionnées</span>
          <span class="badge badge-secondary badge-pill">{{nbArticles}}</span>
        </h4>
        <ul class="list-group mb-3">
          <li *ngIf="nb1!=0" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">semaine H</h6>
              <small class="text-muted">semaine avec hébergement</small>
            </div>
            <span class="text-muted">470 €</span>
            <span class="text-muted">x{{nb1}}</span>
          </li>
          <li *ngIf="nb2!=0" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">semaine</h6>
              <small class="text-muted">semaine sans hébergement</small>
            </div>
            <span class="text-muted">320 €</span>
            <span class="text-muted">x{{nb2}}</span>
          </li>
          <li *ngIf="nb3!=0" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">semaine + stage H</h6>
              <small class="text-muted">semaine + stage avec hébergement</small>
            </div>
            <span class="text-muted">820 €</span>
            <span class="text-muted">x{{nb3}}</span>
          </li>
          <li *ngIf="nb4!=0" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">semaine + stage</h6>
              <small class="text-muted">semaine + stage sans hébergement</small>
            </div>
            <span class="text-muted">520 €</span>
            <span class="text-muted">x{{nb4}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>{{total}} €</strong>
          </li>
        </ul>
        <button class="btn btn-danger btn-lg btn-block" (click)="viderPanier()" type="submit">Vider le panier</button>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Commande</h4>
        <form [formGroup]="personneForm" class="needs-validation" novalidate="">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Prénom</label>
              <input formControlName="prenom" type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Veuillez saisir un prénom valide.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Nom</label>
              <input formControlName="nom" type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Veuillez saisir un nom valide.
              </div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="email">Email</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="vous@exemple.fr">
                <div class="invalid-feedback">
                    Veuillez saisir un e-mail valide.
                </div>
            </div>
          </div>
  
         
          <h4 class="mb-3">Paiement</h4>
  
          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="cb" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
              <label class="custom-control-label" for="cb">CB</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
              <label class="custom-control-label" for="paypal">PayPal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Nom de la carte</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required="">
              <small class="text-muted">Nom entier visible sur la carte</small>
              <div class="invalid-feedback">
                Le nom est obligatoire.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">n° de la carte</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required="">
              <div class="invalid-feedback">
                Le n° de la carte est obligatoire.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
              <div class="invalid-feedback">
                La date d'expiration est obligatoire.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-cvv">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
              <div class="invalid-feedback">
                Le code de securité est obligatoire.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled] = "!personneForm.valid" (click)="creerPersonne()">Commander</button>
        </form>
      </div>
    </div>
    <div id="paypal-button-container"></div>
  </div>
